/*----------------------------------------------------------------------------------*/
/*--------------------- ARCHIVO FOOTER DE PÁGINA ----------------------------------*/
/*----------------------------------------------------------------------------------*/

//SECCIÓN
.mainFooter
	border-top: 1px solid #DFDFDF
	padding   : 22px 0

	/**[ Menu de Footer ]**/
	ul, ul.menu-footer
		list-style-type: none 
		margin         : 0
		li 
			border-right: 1px solid #d3d3d3
			display     : inline-block
			a 	
				color    : #006492
				display  : block
				font-size: 14px
				padding  : 0 30px
			//Ultimo elemento de la fila
			&:last-child
				border: none 

/** Copyright **/
.text-copyright
	font-size : 12px
	font-style: italic
	margin    : 10px auto

//++Seccion de Desarrollo
.mainFooter__develop
	background: #1a1a1a
	font-size : 12px 
	padding   : 5px 0
	/* Link */
	a 
		color: white
