
/************************************************************************************/
/*-- ARCHIVO PARCIAL DE MEDIA QUERIES  ---------------------------------------------*/
/************************************************************************************/

//568px
@media ( max-width: 568px )
	
	//********************************
	//* WRAPPER
	//********************************
	.pageWrapperLayout
		padding: 0 15px

	//********************************
	//* HEADER
	//********************************
	.mainHeader
		background : white
		display    : flex
		left       : 0
		padding    : 10px 15px
		right      : 0
		z-index    : 999
		//Iconos de Navegación
		.icon-header
			color      : #0070B8
			font-size  : 40px 
			height     : 40px
			line-height: 1
		//Logo
		.logo 
			max-width: inherit
			width    : 65%

	//********************************
	//* SECCIONES COMUNES
	//********************************

	//BANNERS DE SERVICIO
	.sectionCommon__banner__services 
		h2
			font-size: 25px 
			margin   : 0 auto 10px 

	//********************************
	//* CAROUSELES
	//********************************

	//Proyectos
	#carousel-proyectos-preview
		padding: 0 10px

	//********************************
	//* PAGINA INICIO
	//********************************
	.pageInicio__proyectos 
		background-attachment: initial
		.text-presentation
			padding: 0


	//********************************
	//* BLOG
	//********************************

	//Preview de articulo
	.itemArticle__preview 
		figure 
			margin: 0 auto 10px
			width : 100%
			a
				width          : 100%
				background-size: cover

		.content-text
			width: 100%




	//********************************
	//* FOOTER
	//********************************

	//Item Footer
	.mainFooter__item 
		border : none 
		display: block
		margin : 0 auto 15px 
		width  : 100%
		padding: 0