/** Importar Compass **/
@import "compass/css3"

/** Importar Fuentes **/

//Roboto
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700'

//Monserrate
@import 'https://fonts.googleapis.com/css?family=Montserrat'


/** Importar Archivo variables Colores **/
@import "colors"


/***************************************************************************************/
/**-------------------------- RESET --------------------------------------------------**/
/***************************************************************************************/

body,html
	font-family: "Arial" , sans-serif
	font-size  : 16px
	width      : 100% 

/** BARRA ACTIVA **/
body.admin-bar
	margin: 0

/***************************************************************************************/
/**------------------------ Overwhite Placeholder  -----------------------------------**/
/***************************************************************************************/

::-webkit-input-placeholder
	color: rgba( 0 , 0 , 0 , .5 )

::-moz-placeholder 
	color  : rgba( 0 , 0 , 0 , .5 )
	opacity: 1

/***************************************************************************************/
/**-------------------------- KEYFRAMES  ---------------------------------------------**/
/***************************************************************************************/

//PULSE
+keyframes( pulse )
	0%, 100%
		+translateX( -5px )
	50%
		+translateX( 0 )

//EXPAND
+keyframes( expand )
	0%, 100%
		+scale( 1.1 )
	50%
		+scale( 1.0 )

//CONTRACT
+keyframes( contract )
	0%
		+scale( 0 )
	100%
		+scale( 1 )

//FLIPIN 
+keyframes( flipInY )
	0%	
		+rotateY( -90deg )
		+opacity( 0 )
	100%
		+rotateY( 0deg )
		+opacity( 1 )

//OPACITY 
+keyframes( opacityInOut )
	0%
		+opacity( 0 )
	100%
		+opacity( 1 )

//OVERLAYZOOM
+keyframes( overlayZoom )
	0%
		background-size: 100% 100%
	100%
		background-size: 140% 140%

//HEARTHBEAT
+keyframes( heartbeat )
	0% , 40% 
		+scale( .75 )
	20% , 60% , 100%
		+scale( 1 )


/***************************************************************************************/
/**--  SECCIONES COMUNES Y WRAPPER GENERAL -------------------------------------------**/
/***************************************************************************************/

/** [ Importar Archivo Secciones Comunes ] **/
@import "_common.sass"

//Contenedor Contenido de Páginas
.pageContentLayout
	padding: 88px 0 0

//Contenedor Layout 
.pageWrapperLayout
	margin   : 0 auto 
	max-width: 960px
	width    : 100%

/***************************************************************************************/
/**--  HEADER   ----------------------------------------------------------------------**/
/***************************************************************************************/

@import "_header.sass"

/***************************************************************************************/
/**-- CAROUSELES   -------------------------------------------------------------------**/
/***************************************************************************************/

@import "_carouseles.sass"


/***************************************************************************************/
/**--  PAGINA INICIO  ----------------------------------------------------------------**/
/***************************************************************************************/

/** [ SECCION PRESENTATION ] **/
.pageInicio__presentation
	background: #F2F2F2
	padding   : 68px 0 20px 
	//Título
	h2 
		color      : #4F4F4F
		display    : block
		font-family: "Roboto",sans-serif
		font-size  : 2.3em
		font-weight: 300
	//Texto
	.content-presentation
		p 
			font-size: 14px 
			margin   : 0 auto 15px 

	//Facebook
	.content-facebook
		display: block 
		width  : 20%
		//span 
		span 
			color      : silver
			display    : block
			font-size  : 18px
			font-weight: bold
			margin     : 0 auto 24px 
		//Ícono
		.icon-facebook
			+border-radius( 50% )
			+box-shadow( 0 0 0 4px transparent )
			align-items    : center 
			background     : #DCDCDC 
			border         : 3px solid transparent 
			color          : white 
			display        : flex
			height         : 73px 
			justify-content: center 
			text-decoration: none 
			width          : 73px
			+transition( all 200ms cubic-bezier(.5,.5,.5,1) )
			//
			i 
				font-size: 40px
			//Hover icon
			&:hover 
				+box-shadow( 0 0 0 4px #3B5998 )
				background: #3B5998
				border    : 3px solid white 


/***************************************************************************************/
/**--  PAGINA NOSOTROS  --------------------------------------------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**--  SINGLE CUSTOM POST TYPE  ------------------------------------------------------**/
/***************************************************************************************/


/***************************************************************************************/
/**--  MAIN FOOTER  ------------------------------------------------------------------**/
/***************************************************************************************/

@import "_footer.sass"


/************************************************************************************/
/*-- MEDIA QUERIES -----------------------------------------------------------------*/
/************************************************************************************/


@import "_media_queries.sass"

